* {
	box-sizing: border-box;
}

.App {
	margin: 5vh;
	position: relative;
}

.center {
  text-align: center;
}

.input-note {
	display: inline-block;
}

.notes {
	text-align: center;
}

#btn-save {
	display: block;
	margin: 24px 0;
	width: 60px;
}

#input-new-note {
	padding: 8px;
	margin-bottom: 1px;
}